<html>
  <head>
    <title>Eslefo</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <script src="events/first.js"></script>
  </head>
  <body class="back">
    <div class="">
      <nav class="navbar navbar-expand-lg navbar-back">
        <a class="navbar-brand" href="../index.html">
          <img src="../img/icon.png" alt="" />
        </a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link navbar-custom" href="/crud/uuu.html">Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-custom" href="/crud/uuu.html">Videos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link navbar-custom" href="/views/faq.html"
              >Preguntas frecuentes</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-custom" href="/crud/uuu.html"
              >Reglamento</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-custom" href="/crud/uuu.html"
              >Calificaciones</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-custom" href="/views/about.html"
              >Acerca de nosotros</a
            >
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link navbar-custom" href="login.html">
              Inicia sesion
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-custom" href="sign.html"> Registrate </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="container accordion">
      <button type="button" class="accordion__button">
        ¿Puedo revalidar mis conocimientos y habilidades si ya fui estudiante de
        eslefo?
      </button>
      <div class="accordion__content">
        <p>AAAAAAAAAAAAAAAAA</p>
      </div>
    </div>

    <div class="container accordion">
      <button type="button" class="accordion__button">
        ¿Que pasa si no apruebo duramte el curso?
      </button>
      <div class="accordion__content">
        <p>AAAAAAAAAAAAAAAAA</p>
      </div>
    </div>

    <div class="container accordion">
      <button type="button" class="accordion__button">¿Metodos de pago?</button>
      <div class="accordion__content">
        <p>AAAAAAAAAAAAAAAAA</p>
      </div>
    </div>
    <div class="container accordion">
      <button type="button" class="accordion__button">
        ¿Como puedo inscribirme?
      </button>
      <div class="accordion__content">
        <p>AAAAAAAAAAAAAAAAA</p>
      </div>
    </div>
    <div class="container accordion">
      <button type="button" class="accordion__button">
        ¿Cual es la calificacion minima?
      </button>
      <div class="accordion__content">
        <p>AAAAAAAAAAAAAAAAA</p>
      </div>
    </div>
    <div class="container accordion">
      <button type="button" class="accordion__button">
        ¿Me pueden cambiar de horario?
      </button>
      <div class="accordion__content">
        <p>AAAAAAAAAAAAAAAAA</p>
      </div>
    </div>
    <div class="container accordion">
      <button type="button" class="accordion__button">¿Precios?</button>
      <div class="accordion__content">
        <p>AAAAAAAAAAAAAAAAA</p>
      </div>
    </div>
    <div class="container accordion">
      <button type="button" class="accordion__button">
        ¿Que material de trabajo?
      </button>
      <div class="accordion__content">
        <p>AAAAAAAAAAAAAAAAA</p>
      </div>
    </div>
    <div class="container accordion">
      <button type="button" class="accordion__button">
        ¿Esta afiliada a la SEP?
      </button>
      <div class="accordion__content">
        <p>AAAAAAAAAAAAAAAAA</p>
      </div>
    </div>
    <div class="container accordion">
      <button type="button" class="accordion__button">
        ¿Es obligatorio iniciar mi curso de ingles desde 0?
      </button>
      <div class="accordion__content">
        <p>AAAAAAAAAAAAAAAAA</p>
      </div>
    </div>

    <script>
      document.querySelectorAll(".accordion__button").forEach((button) => {
        button.addEventListener("click", () => {
          const contenido = button.nextElementSibling;
          button.classList.toggle("accordion__button--active");
          if (button.classList.contains("accordion__button--active")) {
            contenido.style.maxHeight = contenido.scrollHeight + "px";
          } else {
            contenido.style.maxHeight = 0;
          }
        });
      });
    </script>
  </body>
</html>
