<html>
  <head>
    <title>Eslefo</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <script src="events/first.js"></script>
  </head>
  <body class="back">
    <div class="">
      <nav class="navbar navbar-expand-lg navbar-back">
        <a class="navbar-brand" href="../index.html">
          <img src="../img/icon.png" alt="" />
        </a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link navbar-custom" href="/crud/uuu.html">Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-custom" href="/crud/uuu.html">Videos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link navbar-custom" href="/views/faq.html"
              >Preguntas frecuentes</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-custom" href="/crud/uuu.html"
              >Reglamento</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-custom" href="/crud/uuu.html"
              >Calificaciones</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-custom" href="/views/about.html"
              >Acerca de nosotros</a
            >
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link navbar-custom" href="login.html">
              Inicia sesion
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-custom" href="sign.html"> Registrate </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <div class="logun letters">
        <form>
          <label> Iniciar sesion </label>
          <br />
          <label>Favor de ingresar los datos correspondientes</label>
          <br />
          <label>Correo:</label>
          <br />
          <input
            type="text"
            placeholder="Correo"
            class="form-control inputSettings"
          />
          <br />
          <label>Contraseña:</label>
          <br />
          <input
            type="password"
            placeholder="Contraseña"
            class="form-control inputSettings"
          />
          <br />
          <input type="submit" class="platinumButton" />
        </form>
      </div>
    </div>
  </body>
</html>
